In [1]:
import pandas as pd
import numpy as np
from random import random
from datetime import datetime

In [3]:
cd C:\Jupyter WorkSpace\JiangSu Dataflow\lstm

C:\Jupyter WorkSpace\JiangSu Dataflow\lstm

In [20]:
df6 = pd.DataFrame(pd.read_csv('20171215104003644.csv',sep = ',',encoding='GBK',usecols=[0,1,7]))
df6.rename(columns={u'时间':'Date',u'地市名称':'Place',u'LTE总流量(Gb)':'DataflowByDay_4G_GB'},inplace = True)
df7 = df6.groupby('Place')
for name,groupData in df7:
    if name.encode('utf-8') == '常州':
        df8 = pd.DataFrame(groupData)
        df8.drop('Place',axis = 1, inplace = True)
        df9 = df8.set_index(pd.to_datetime(df8['Date']))
        df9.drop('Date',axis = 1, inplace = True)
        df10 = df9.sort_index()

In [27]:
# df11 = df10['2017-01-03':'2017-01-04']
# df11.max()
for x in range(1,31,1):
    df11 = df10['2017-01-%d'%(x):'2017-01-%d'%(x+1)]
    print (x,df11.max())

(1, DataflowByDay_4G_GB    61412.4247
dtype: float64)
(2, DataflowByDay_4G_GB    52345.6512
dtype: float64)
(3, DataflowByDay_4G_GB    60177.2307
dtype: float64)
(4, DataflowByDay_4G_GB    63508.3622
dtype: float64)
(5, DataflowByDay_4G_GB    63508.3622
dtype: float64)
(6, DataflowByDay_4G_GB    63131.5917
dtype: float64)
(7, DataflowByDay_4G_GB    60870.8112
dtype: float64)
(8, DataflowByDay_4G_GB    58161.163
dtype: float64)
(9, DataflowByDay_4G_GB    58161.163
dtype: float64)
(10, DataflowByDay_4G_GB    57441.51
dtype: float64)
(11, DataflowByDay_4G_GB    63934.6926
dtype: float64)
(12, DataflowByDay_4G_GB    66764.3711
dtype: float64)
(13, DataflowByDay_4G_GB    66764.3711
dtype: float64)
(14, DataflowByDay_4G_GB    63041.7578
dtype: float64)
(15, DataflowByDay_4G_GB    62319.8341
dtype: float64)
(16, DataflowByDay_4G_GB    62319.8341
dtype: float64)
(17, DataflowByDay_4G_GB    65731.1688
dtype: float64)
(18, DataflowByDay_4G_GB    65731.1688
dtype: float64)
(19, DataflowByDay_4G_GB    62683.5479
dtype: float64)
(20, DataflowByDay_4G_GB    59109.9498
dtype: float64)
(21, DataflowByDay_4G_GB    54206.2513
dtype: float64)
(22, DataflowByDay_4G_GB    53679.2935
dtype: float64)
(23, DataflowByDay_4G_GB    50913.257
dtype: float64)
(24, DataflowByDay_4G_GB    50913.257
dtype: float64)
(25, DataflowByDay_4G_GB    48704.5862
dtype: float64)
(26, DataflowByDay_4G_GB    54430.6981
dtype: float64)
(27, DataflowByDay_4G_GB    55146.6796
dtype: float64)
(28, DataflowByDay_4G_GB    57197.066
dtype: float64)
(29, DataflowByDay_4G_GB    57197.066
dtype: float64)
(30, DataflowByDay_4G_GB    59788.0741
dtype: float64)

In [34]:
stamp = datetime(2017,6,27)
str(stamp)
stamp.strftime('%y-%m-%d')
date = ['2017-6-26','2017-6-27']
datetime2 = [datetime.strptime(x,'%Y-%m-%d') for x in date]
# datetime2
dates = ['2017-06-20','2017-06-21',\
         '2017-06-22','2017-06-23','2017-06-24','2017-06-25','2017-06-26','2017-06-27']
ts = pd.Series(np.random.randn(8),index = pd.to_datetime(dates))
# ts

2017-06-20   -0.297639
2017-06-21    2.191426
2017-06-22    0.166043
2017-06-23    1.351325
2017-06-24   -0.083888
2017-06-25   -0.901085
2017-06-26   -1.052850
2017-06-27   -0.275453
dtype: float64

In [22]:
df = pd.DataFrame({'BoolCol': [1, 2, 0, 3, 4],'attr': [22, 33, 22, 44, 66]},  
       index=[10,20,30,40,50])  
print(df)  
a = df[(df.BoolCol==0)&(df.attr==22)].index.tolist()  
print(a[0])
# df[df['BoolCol'].isin([0])]
# df.loc[df.index == 30]
b = df.query('BoolCol == "0"')
print b.index
df.index = 10

    BoolCol  attr
10        1    22
20        2    33
30        0    22
40        3    44
50        4    66
30
Int64Index([30], dtype='int64')

TypeError: Index(...) must be called with a collection of some kind, 10 was passed

In [44]:
a = ((1,2,3),(4,5,6),(6,2,3),(4,5,6))
# b = np.array(a)
c = np.reshape(a, (2, 1, 6))
# b.shape
c[1][0][0]

6

In [1]:
dataframe = pd.read_excel('data01.xlsx', usecols=[1], sep = ',')
dataset1 = dataframe.values[-5:,]
dataset1.dtype
type(dataset1)
dataframe1 = pd.read_excel('data00.xlsx', usecols=[0], sep = ',')
dataset2 = dataframe.values[:-76,]
dataset2.dtype
type(dataset2)
print dataset1

NameError: name 'pd' is not defined

In [6]:
dataset3 = dataframe.values[-81:-76,]
dataset4 = np.concatenate([dataset1,dataset3],axis= 0)
len(dataset4)

10

In [50]:
pd.set_option('precision',7)
rng = pd.date_range('12/15/2017', periods=len(dataset4), freq='D')
# ts = pd.Series(dataset1.reshap, rng)
dataframeS = pd.read_excel('data00.xlsx', sep = ',', index_col='Date')
df1 = pd.DataFrame(dataset4,index = rng,columns = ['DataflowByDay_4G_GB'])
df2 = pd.concat([dataframeS,df1],ignore_index = False)
df2

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DataflowByDay_4G_GB</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2016-03-01</th>
      <td>507971.1349</td>
    </tr>
    <tr>
      <th>2016-03-02</th>
      <td>527783.6670</td>
    </tr>
    <tr>
      <th>2016-03-03</th>
      <td>535483.8546</td>
    </tr>
    <tr>
      <th>2016-03-04</th>
      <td>540810.2383</td>
    </tr>
    <tr>
      <th>2016-03-05</th>
      <td>517351.7601</td>
    </tr>
    <tr>
      <th>2016-03-06</th>
      <td>517527.5817</td>
    </tr>
    <tr>
      <th>2016-03-07</th>
      <td>520275.3911</td>
    </tr>
    <tr>
      <th>2016-03-08</th>
      <td>547131.9879</td>
    </tr>
    <tr>
      <th>2016-03-09</th>
      <td>506704.5419</td>
    </tr>
    <tr>
      <th>2016-03-10</th>
      <td>512369.9436</td>
    </tr>
    <tr>
      <th>2016-03-11</th>
      <td>492684.0790</td>
    </tr>
    <tr>
      <th>2016-03-12</th>
      <td>497590.3526</td>
    </tr>
    <tr>
      <th>2016-03-13</th>
      <td>497096.5085</td>
    </tr>
    <tr>
      <th>2016-03-14</th>
      <td>490388.2988</td>
    </tr>
    <tr>
      <th>2016-03-15</th>
      <td>506734.0812</td>
    </tr>
    <tr>
      <th>2016-03-16</th>
      <td>515943.3418</td>
    </tr>
    <tr>
      <th>2016-03-17</th>
      <td>508577.7566</td>
    </tr>
    <tr>
      <th>2016-03-18</th>
      <td>529142.0533</td>
    </tr>
    <tr>
      <th>2016-03-19</th>
      <td>512181.5367</td>
    </tr>
    <tr>
      <th>2016-03-20</th>
      <td>498368.4607</td>
    </tr>
    <tr>
      <th>2016-03-21</th>
      <td>497686.9656</td>
    </tr>
    <tr>
      <th>2016-03-22</th>
      <td>505039.8813</td>
    </tr>
    <tr>
      <th>2016-03-23</th>
      <td>500378.3864</td>
    </tr>
    <tr>
      <th>2016-03-24</th>
      <td>515826.8087</td>
    </tr>
    <tr>
      <th>2016-03-25</th>
      <td>498511.9339</td>
    </tr>
    <tr>
      <th>2016-03-26</th>
      <td>491146.6670</td>
    </tr>
    <tr>
      <th>2016-03-27</th>
      <td>482192.6130</td>
    </tr>
    <tr>
      <th>2016-03-28</th>
      <td>461796.9643</td>
    </tr>
    <tr>
      <th>2016-03-29</th>
      <td>498132.2884</td>
    </tr>
    <tr>
      <th>2016-03-30</th>
      <td>504810.7953</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
    </tr>
    <tr>
      <th>2017-11-26</th>
      <td>2649363.7413</td>
    </tr>
    <tr>
      <th>2017-11-27</th>
      <td>2546297.6279</td>
    </tr>
    <tr>
      <th>2017-11-28</th>
      <td>2750762.9914</td>
    </tr>
    <tr>
      <th>2017-11-29</th>
      <td>2814574.5877</td>
    </tr>
    <tr>
      <th>2017-11-30</th>
      <td>3047628.5414</td>
    </tr>
    <tr>
      <th>2017-11-30</th>
      <td>3047628.5414</td>
    </tr>
    <tr>
      <th>2017-12-01</th>
      <td>2510460.7721</td>
    </tr>
    <tr>
      <th>2017-12-02</th>
      <td>2535085.9843</td>
    </tr>
    <tr>
      <th>2017-12-03</th>
      <td>2580864.3562</td>
    </tr>
    <tr>
      <th>2017-12-04</th>
      <td>2534922.7919</td>
    </tr>
    <tr>
      <th>2017-12-05</th>
      <td>2556451.4414</td>
    </tr>
    <tr>
      <th>2017-12-06</th>
      <td>2582433.2505</td>
    </tr>
    <tr>
      <th>2017-12-07</th>
      <td>2668460.9355</td>
    </tr>
    <tr>
      <th>2017-12-08</th>
      <td>2662273.2003</td>
    </tr>
    <tr>
      <th>2017-12-09</th>
      <td>2634536.1257</td>
    </tr>
    <tr>
      <th>2017-12-10</th>
      <td>2207581.4852</td>
    </tr>
    <tr>
      <th>2017-12-11</th>
      <td>2570255.8879</td>
    </tr>
    <tr>
      <th>2017-12-12</th>
      <td>2626731.1578</td>
    </tr>
    <tr>
      <th>2017-12-13</th>
      <td>2814762.5972</td>
    </tr>
    <tr>
      <th>2017-12-14</th>
      <td>2699266.2691</td>
    </tr>
    <tr>
      <th>2017-12-15</th>
      <td>2104306.6261</td>
    </tr>
    <tr>
      <th>2017-12-16</th>
      <td>1947228.8075</td>
    </tr>
    <tr>
      <th>2017-12-17</th>
      <td>1880409.4552</td>
    </tr>
    <tr>
      <th>2017-12-18</th>
      <td>1881708.2142</td>
    </tr>
    <tr>
      <th>2017-12-19</th>
      <td>1947866.1521</td>
    </tr>
    <tr>
      <th>2017-12-20</th>
      <td>2401627.1684</td>
    </tr>
    <tr>
      <th>2017-12-21</th>
      <td>2138812.3936</td>
    </tr>
    <tr>
      <th>2017-12-22</th>
      <td>2535554.9912</td>
    </tr>
    <tr>
      <th>2017-12-23</th>
      <td>2726757.7598</td>
    </tr>
    <tr>
      <th>2017-12-24</th>
      <td>2726757.7598</td>
    </tr>
  </tbody>
</table>
<p>671 rows × 1 columns</p>
</div>

In [39]:
a = [1,2,3,4,5,6,7]
b = np.array(a)
c = b.tolist()
type(b)

numpy.ndarray

In [6]:
def generate_sequence(n_timesteps):
    return [random()*10 for _ in range(n_timesteps)]

In [4]:
c = generate_sequence(10)
print c

[4.4936044917784566, 1.1642473399683595, 7.333587939328084, 9.828786995892472, 3.5428714503443492, 7.839862983296225, 4.040455655807912, 3.315602378563315, 6.342516215777257, 3.463516185825468]

In [5]:
c[-7:-3]

[9.828786995892472, 3.5428714503443492, 7.839862983296225, 4.040455655807912]

In [22]:
c[0:-1]

[7.011486627730536,
 6.385049938076114,
 8.730129716980853,
 2.6572312875236648,
 3.9640167161680417,
 1.7979044725085092,
 0.6370280160847352,
 1.6748052001567904,
 0.9669626184964986]

In [2]:
d=[[ 265551.75 ,     265400.15625 ,  262558.375  ,   261497.296875 , 263980.53125,
    268799.5    ,   272028.25    ]]

In [6]:
d[0][-3:]

[263980.53125, 268799.5, 272028.25]

In [22]:
df1 = pd.read_table('C:\\Users\\cmcc\\Desktop\\JiangSu Dataflow\\lstm\\data.txt',sep = '\t',header = None)

In [38]:
df1[1]=df1[1].apply(lambda x:str(x).replace( ' ',''))

In [40]:
df1[1]

0      XJ44-华昌大厦+ETH_LOS+天津西北汉子酒楼1F办公室外侧墙无线机房+纤通网络科技1
1    XJ44-华昌大厦+ETH_LOS+天津西北汉子酒楼1F办公室外侧墙无线机房+5683-创业环保
2    XJ44-华昌大厦+ETH_LOS+天津西北汉子酒楼1F办公室外侧墙无线机房+6298-滨湖剧场
3     XJ44-华昌大厦+ETH_LOS+天津西北汉子酒楼1F办公室外侧墙无线机房+414-美膳酒楼
4     XJ44-华昌大厦+ETH_LOS+天津西北汉子酒楼1F办公室外侧墙无线机房+414-美膳酒楼
Name: 1, dtype: object

In [41]:
df1

                     0                                                 1
0  2017-02-01 00:00:00    XJ44-华昌大厦+ETH_LOS+天津西北汉子酒楼1F办公室外侧墙无线机房+纤通网络科技1
1  2017-02-01 00:00:00  XJ44-华昌大厦+ETH_LOS+天津西北汉子酒楼1F办公室外侧墙无线机房+5683-创业环保
2  2017-02-01 00:00:00  XJ44-华昌大厦+ETH_LOS+天津西北汉子酒楼1F办公室外侧墙无线机房+6298-滨湖剧场
3  2017-02-01 00:00:00   XJ44-华昌大厦+ETH_LOS+天津西北汉子酒楼1F办公室外侧墙无线机房+414-美膳酒楼
4  2017-02-01 00:00:00   XJ44-华昌大厦+ETH_LOS+天津西北汉子酒楼1F办公室外侧墙无线机房+414-美膳酒楼

In [5]:
a = [[1,2,3,4,5]]
a[0]

[1, 2, 3, 4, 5]