In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [495]:
# 对11地市的全天量数据进行清洗合并（不包含镇江和扬州）
pd.set_option('precision', 7)
df1 = pd.DataFrame(pd.read_csv('dataflow_011.csv',sep = ',',encoding='utf-8'))
# df1

In [496]:
# df1[df1.columns[1]]

In [497]:
df1['ts']=pd.to_datetime(df1['Data'],format=u'%Y\u5e74%m\u6708%d\u65e5')
df1 = df1.drop(['Data'],axis = 1)
df2=df1.set_index(df1['ts'])
df2.index.rename('Date',inplace = True)
df3=df2.drop(df2.columns[-1],axis = 1)
df4 = df3.sort_index()
df4 = df4[df4.index<'2017-09-01']
# df4

In [498]:
df5 = pd.DataFrame(pd.read_csv('20171215104003644.csv',sep = ',',encoding='GBK',usecols=[0,1,7]))
df5.rename(columns={u'时间':'Date',u'地市名称':'Place',u'LTE总流量(Gb)':'DataflowByDay_4G_GB'},inplace = True)
df6 = df5.groupby('Place')
for name,groupData in df6:
    if name.encode('utf-8') == '盐城':
        df7 = pd.DataFrame(groupData)
        df7.drop('Place',axis = 1, inplace = True)
        df8 = df7.set_index(pd.to_datetime(df7['Date']))
        df8.drop('Date',axis = 1, inplace = True)
        df9 = df8.sort_index()
        df10 = df9.resample('D',how='sum')
        df11 = df10[df10.index>'2017-08-31']
        df12 = df11[df11.index<'2017-12-01']
# df12

C:\Users\cmcc\Anaconda2\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).sum()
  # This is added back by InteractiveShellApp.init_path()

In [499]:
df13 = pd.concat([df4,df12],ignore_index= False)
# df13

In [500]:
df14 = df13.groupby(pd.TimeGrouper("M"))
y = []
x = 0
for i,j in list(df14):
    if x <16:
        if '04-30' in str(i) or '06-30' in str(i) or '04-30' in str(i) or '09-30' in str(i) or '11-30' in str(i): 
            df6 = pd.DataFrame(list(df14)[x][1])
            df7 = df6.iloc[-1:,[0]]
            y.append(df6.append(df7))
        elif '02-28' in str(i):
            df6 = pd.DataFrame(list(df14)[x][1])
            df7 = df6.iloc[-1:,[0]]
            df8 = df6.append(df7)
            df9 = df8.append(df7)
            df10 = df9.append(df7)
            y.append(df10)
        else:
            y.append(list(df14)[x][1])
        x = x + 1
    else:
        break
df15 = pd.concat(y,ignore_index=False)  
df15.to_excel('data11.xlsx',encoding='utf-8')

In [44]:
# 对合并数据中的奇异值进行分析
df16 = pd.read_excel('data13.xlsx',sep=',',encoding='utf-8')
df17 = df16[df16['DataflowByDay_4G_GB'] == 0]
df17

Empty DataFrame
Columns: [Date, DataflowByDay_4G_GB]
Index: []

In [28]:
# 对镇江和扬州的数据进行清洗合并
df18 = pd.DataFrame(pd.read_excel('20171215104356649.xlsx',sep = ',',encoding='GBK',usecols=[0,1,7]))
df18.rename(columns={u'时间':'Date',u'地市名称':'Place',u'LTE总流量(Gb)':'DataflowByDay_4G_GB'},inplace = True)
df19 = df18.groupby('Place')
for name,groupData in df19:
    if name.encode('utf-8') == '镇江':
        df7 = pd.DataFrame(groupData)
        df7.drop('Place',axis = 1, inplace = True)
        df8 = df7.set_index(pd.to_datetime(df7['Date']))
        df8.drop('Date',axis = 1, inplace = True)
        df9 = df8.sort_index()
        df10 = df9.resample('D',how='sum')
        df20 = df10[df10.index<'2017-01-01']
df20

C:\Users\cmcc\Anaconda2\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).sum()
  # This is added back by InteractiveShellApp.init_path()

            DataflowByDay_4G_GB
Date
2016-12-20          585801.2264
2016-12-21          612077.1102
2016-12-22          608620.0845
2016-12-23          625069.5979
2016-12-24          612413.3744
2016-12-25          619885.6005
2016-12-26          603183.0068
2016-12-27          569784.9010
2016-12-28          569523.9063
2016-12-29          538607.2159
2016-12-30          573579.9637
2016-12-31          697632.3600

In [29]:
df5 = pd.DataFrame(pd.read_csv('20171215104003644.csv',sep = ',',encoding='GBK',usecols=[0,1,7]))
df5.rename(columns={u'时间':'Date',u'地市名称':'Place',u'LTE总流量(Gb)':'DataflowByDay_4G_GB'},inplace = True)
df6 = df5.groupby('Place')
for name,groupData in df6:
    if name.encode('utf-8') == '镇江':
        df7 = pd.DataFrame(groupData)
        df7.drop('Place',axis = 1, inplace = True)
        df8 = df7.set_index(pd.to_datetime(df7['Date']))
        df8.drop('Date',axis = 1, inplace = True)
        df9 = df8.sort_index()
        df10 = df9.resample('D',how='sum')
        df11 = df10[df10.index<'2017-12-01']
df11

C:\Users\cmcc\Anaconda2\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).sum()
  # This is added back by InteractiveShellApp.init_path()

            DataflowByDay_4G_GB
Date
2017-01-01         5.394992e+05
2017-01-02         5.241528e+05
2017-01-03         5.066948e+05
2017-01-04         5.301026e+05
2017-01-05         5.700158e+05
2017-01-06         5.771161e+05
2017-01-07         5.342925e+05
2017-01-08         5.168900e+05
2017-01-09         4.783351e+05
2017-01-10         4.791204e+05
2017-01-11         4.614788e+05
2017-01-12         5.043001e+05
2017-01-13         4.726929e+05
2017-01-14         4.441606e+05
2017-01-15         4.215505e+05
2017-01-16         4.222809e+05
2017-01-17         4.269403e+05
2017-01-18         4.210012e+05
2017-01-19         3.862117e+05
2017-01-20         4.022137e+05
2017-01-21         3.835877e+05
2017-01-22         3.769923e+05
2017-01-23         3.749622e+05
2017-01-24         3.899106e+05
2017-01-25         3.873944e+05
2017-01-26         3.944472e+05
2017-01-27         4.800562e+05
2017-01-28         5.167756e+05
2017-01-29         5.244427e+05
2017-01-30         5.071279e+05
...                         ...
2017-11-01         9.123379e+05
2017-11-02         9.583584e+05
2017-11-03         1.029290e+06
2017-11-04         1.012619e+06
2017-11-05         9.608106e+05
2017-11-06         9.512888e+05
2017-11-07         9.925737e+05
2017-11-08         9.785356e+05
2017-11-09         1.008988e+06
2017-11-10         1.052922e+06
2017-11-11         1.090233e+06
2017-11-12         1.024066e+06
2017-11-13         9.742501e+05
2017-11-14         9.964776e+05
2017-11-15         9.955836e+05
2017-11-16         1.008946e+06
2017-11-17         1.072018e+06
2017-11-18         1.008847e+06
2017-11-19         9.792355e+05
2017-11-20         9.420509e+05
2017-11-21         9.894937e+05
2017-11-22         9.899885e+05
2017-11-23         1.020557e+06
2017-11-24         1.025559e+06
2017-11-25         1.036181e+06
2017-11-26         1.048453e+06
2017-11-27         9.832526e+05
2017-11-28         1.059197e+06
2017-11-29         1.073023e+06
2017-11-30         1.195484e+06

[334 rows x 1 columns]

In [21]:
# df12 = pd.concat([df20,df11],ignore_index= False) 
# df12

            DataflowByDay_4G_GB
Date
2016-12-20         6.942814e+05
2016-12-21         7.156962e+05
2016-12-22         7.049266e+05
2016-12-23         7.072225e+05
2016-12-24         6.951529e+05
2016-12-25         7.118636e+05
2016-12-26         7.425695e+05
2016-12-27         6.942380e+05
2016-12-28         6.868876e+05
2016-12-29         6.429640e+05
2016-12-30         6.881905e+05
2016-12-31         8.324076e+05
2017-01-01         5.394992e+05
2017-01-02         5.241528e+05
2017-01-03         5.066948e+05
2017-01-04         5.301026e+05
2017-01-05         5.700158e+05
2017-01-06         5.771161e+05
2017-01-07         5.342925e+05
2017-01-08         5.168900e+05
2017-01-09         4.783351e+05
2017-01-10         4.791204e+05
2017-01-11         4.614788e+05
2017-01-12         5.043001e+05
2017-01-13         4.726929e+05
2017-01-14         4.441606e+05
2017-01-15         4.215505e+05
2017-01-16         4.222809e+05
2017-01-17         4.269403e+05
2017-01-18         4.210012e+05
...                         ...
2017-11-01         9.123379e+05
2017-11-02         9.583584e+05
2017-11-03         1.029290e+06
2017-11-04         1.012619e+06
2017-11-05         9.608106e+05
2017-11-06         9.512888e+05
2017-11-07         9.925737e+05
2017-11-08         9.785356e+05
2017-11-09         1.008988e+06
2017-11-10         1.052922e+06
2017-11-11         1.090233e+06
2017-11-12         1.024066e+06
2017-11-13         9.742501e+05
2017-11-14         9.964776e+05
2017-11-15         9.955836e+05
2017-11-16         1.008946e+06
2017-11-17         1.072018e+06
2017-11-18         1.008847e+06
2017-11-19         9.792355e+05
2017-11-20         9.420509e+05
2017-11-21         9.894937e+05
2017-11-22         9.899885e+05
2017-11-23         1.020557e+06
2017-11-24         1.025559e+06
2017-11-25         1.036181e+06
2017-11-26         1.048453e+06
2017-11-27         9.832526e+05
2017-11-28         1.059197e+06
2017-11-29         1.073023e+06
2017-11-30         1.195484e+06

[346 rows x 1 columns]

In [30]:
df12 = pd.concat([df20,df11],ignore_index=False) 
df12
df14 = df12.groupby(pd.TimeGrouper("M"))
y = []
x = 0
for i,j in list(df14):
#     print i
    if x <16:
        if '04-30' in str(i) or '06-30' in str(i) or '04-30' in str(i) or '09-30' in str(i) or '11-30' in str(i): 
            df6 = pd.DataFrame(list(df14)[x][1])
            df7 = df6.iloc[-1:,[0]]
            y.append(df6.append(df7))
        elif '02-28' in str(i):
            df6 = pd.DataFrame(list(df14)[x][1])
            df7 = df6.iloc[-1:,[0]]
            df8 = df6.append(df7)
            df9 = df8.append(df7)
            df10 = df9.append(df7)
            y.append(df10)
        else:
            y.append(list(df14)[x][1])
        x = x + 1
    else:
        break
# print y
df15 = pd.concat(y,ignore_index=False)
df15.to_excel('data13.xlsx',encoding='utf-8')

In [326]:

df14 = df13.groupby(pd.TimeGrouper("M"))
x = 0
for i,j in list(df14):
#     print list(df14)[x]
    if '04-30' in str(i) or '06-30' in str(i) or '04-30' in str(i) or '09-30' in str(i) or '11-30' in str(i):  
        print str(i) 
        print list(df5)[x][1]
    x = x+1

2016-09-30 00:00:00
2016-11-30 00:00:00
2017-04-30 00:00:00
2017-06-30 00:00:00
2017-09-30 00:00:00
2017-11-30 00:00:00

In [334]:
len(list(df14))

15

In [286]:
df1 = pd.DataFrame(pd.read_csv('20171215104003644.csv',sep = ',',encoding='GBK',usecols=[0,1,7]))
df1.rename(columns={u'时间':'Date',u'地市名称':'Place',u'LTE总流量(Gb)':'DataflowByDay_4G_GB'},inplace = True)

In [291]:
df2 = df1.groupby('Place')

In [293]:
for name,groupData in df2:
    print groupData

                     Date Place  DataflowByDay_4G_GB
5976  2017-01-19 11:00:00  null                  0.0
5991  2017-01-19 16:00:00  null                  0.0
6048  2017-01-19 18:00:00  null                  0.0
6109  2017-01-19 15:00:00  null                  0.0
6152  2017-01-19 17:00:00  null                  0.0
6237  2017-01-19 12:00:00  null                  0.0
                       Date Place  DataflowByDay_4G_GB
4       2017-01-01 04:00:00    南京           19944.2306
18      2017-01-01 03:00:00    南京           29364.0627
32      2017-01-01 06:00:00    南京           26201.3729
46      2017-01-01 02:00:00    南京           48822.8880
60      2017-01-01 21:00:00    南京          127770.2540
74      2017-01-01 18:00:00    南京          128917.3032
88      2017-01-01 12:00:00    南京          126998.0895
102     2017-01-01 23:00:00    南京          151059.2709
116     2017-01-01 17:00:00    南京          124533.8723
130     2017-01-01 13:00:00    南京          123880.2386
144     2017-01-01 14:00:00    南京           93691.6048
158     2017-01-01 01:00:00    南京           82584.1583
172     2017-01-01 11:00:00    南京          126724.7929
186     2017-01-01 22:00:00    南京          128577.7993
200     2017-01-01 15:00:00    南京          120683.0784
214     2017-01-01 20:00:00    南京          130913.8050
228     2017-01-01 16:00:00    南京          121715.2805
242     2017-01-01 07:00:00    南京           48921.3767
256     2017-01-01 10:00:00    南京          118322.9128
270     2017-01-01 00:00:00    南京          127803.1230
284     2017-01-01 19:00:00    南京          131720.6059
298     2017-01-01 09:00:00    南京          100175.9956
312     2017-01-01 05:00:00    南京           18097.1477
326     2017-01-01 08:00:00    南京           76016.2226
340     2017-01-02 23:00:00    南京          178487.1781
354     2017-01-02 05:00:00    南京           15602.2551
368     2017-01-02 03:00:00    南京           24974.1144
382     2017-01-02 02:00:00    南京           42144.2105
396     2017-01-02 19:00:00    南京          102182.9709
410     2017-01-02 08:00:00    南京           65570.5513
...                     ...   ...                  ...
116361  2017-12-14 18:00:00    南京          319509.6706
116375  2017-12-14 12:00:00    南京          350361.7378
116389  2017-12-14 13:00:00    南京          295805.4121
116403  2017-12-14 02:00:00    南京           66608.7675
116417  2017-12-14 03:00:00    南京           37811.4901
116431  2017-12-14 08:00:00    南京          220832.9777
116445  2017-12-14 19:00:00    南京          310702.9368
116459  2017-12-14 21:00:00    南京          293554.7400
116473  2017-12-14 05:00:00    南京           29563.9022
116487  2017-12-14 00:00:00    南京          228464.5418
116501  2017-12-14 09:00:00    南京          243610.2784
116515  2017-12-14 20:00:00    南京          304488.0755
116529  2017-12-14 06:00:00    南京           55494.0582
116543  2017-12-14 14:00:00    南京          281448.4923
116557  2017-12-14 17:00:00    南京          304450.9348
116571  2017-12-14 11:00:00    南京          292214.3256
116585  2017-12-14 07:00:00    南京          137667.9254
116599  2017-12-14 15:00:00    南京          285997.7729
116613  2017-12-14 16:00:00    南京          296461.3067
116627  2017-12-14 04:00:00    南京           28882.8822
116641  2017-12-14 22:00:00    南京          269348.8080
116655  2017-12-15 03:00:00    南京           41583.5437
116669  2017-12-15 04:00:00    南京           28044.1319
116683  2017-12-15 06:00:00    南京           55681.4633
116697  2017-12-15 05:00:00    南京           30635.1069
116711  2017-12-15 00:00:00    南京          238748.3878
116725  2017-12-15 07:00:00    南京          133803.8588
116739  2017-12-15 01:00:00    南京          126641.8580
116753  2017-12-15 02:00:00    南京           67894.7194
116767  2017-12-15 08:00:00    南京          216253.0638

[8341 rows x 3 columns]
                       Date Place  DataflowByDay_4G_GB
11      2017-01-01 04:00:00    南通           10572.6286
25      2017-01-01 03:00:00    南通           13840.9899
39      2017-01-01 06:00:00    南通           20677.0382
53      2017-01-01 02:00:00    南通           20817.5018
67      2017-01-01 21:00:00    南通           77860.9825
81      2017-01-01 18:00:00    南通           78499.8949
95      2017-01-01 12:00:00    南通           77781.3499
109     2017-01-01 23:00:00    南通           63650.8007
123     2017-01-01 17:00:00    南通           73818.7077
137     2017-01-01 13:00:00    南通           75264.2942
151     2017-01-01 14:00:00    南通           73719.7576
165     2017-01-01 01:00:00    南通           33528.7545
179     2017-01-01 11:00:00    南通           75863.2017
193     2017-01-01 22:00:00    南通           71611.7663
207     2017-01-01 15:00:00    南通           73692.7301
221     2017-01-01 20:00:00    南通           82035.2985
235     2017-01-01 16:00:00    南通           73324.9659
249     2017-01-01 07:00:00    南通           37571.9434
263     2017-01-01 10:00:00    南通           69905.0345
277     2017-01-01 00:00:00    南通           52512.7786
291     2017-01-01 19:00:00    南通           81832.3146
305     2017-01-01 09:00:00    南通           60269.6759
319     2017-01-01 05:00:00    南通           12099.6512
333     2017-01-01 08:00:00    南通           49422.7356
347     2017-01-02 23:00:00    南通           66170.0587
361     2017-01-02 05:00:00    南通            9630.6933
375     2017-01-02 03:00:00    南通           11453.9966
389     2017-01-02 02:00:00    南通           17336.6776
403     2017-01-02 19:00:00    南通           76871.0234
417     2017-01-02 08:00:00    南通           41340.9683
...                     ...   ...                  ...
116368  2017-12-14 18:00:00    南通          173721.9049
116382  2017-12-14 12:00:00    南通          193737.3794
116396  2017-12-14 13:00:00    南通          147917.6870
116410  2017-12-14 02:00:00    南通           28915.8839
116424  2017-12-14 03:00:00    南通           19846.4107
116438  2017-12-14 08:00:00    南通          105873.6736
116452  2017-12-14 19:00:00    南通          179186.6770
116466  2017-12-14 21:00:00    南通          184182.2475
116480  2017-12-14 05:00:00    南通           20775.3609
116494  2017-12-14 00:00:00    南通           85659.2108
116508  2017-12-14 09:00:00    南通          125024.1597
116522  2017-12-14 20:00:00    南通          180311.7722
116536  2017-12-14 06:00:00    南通           42078.8218
116550  2017-12-14 14:00:00    南通          144392.8448
116564  2017-12-14 17:00:00    南通          162781.4328
116578  2017-12-14 11:00:00    南通          157843.9008
116592  2017-12-14 07:00:00    南通           74138.0374
116606  2017-12-14 15:00:00    南通          154394.7825
116620  2017-12-14 16:00:00    南通          159907.6175
116634  2017-12-14 04:00:00    南通           16751.9467
116648  2017-12-14 22:00:00    南通          177159.8752
116662  2017-12-15 03:00:00    南通           20194.6778
116676  2017-12-15 04:00:00    南通           17166.3493
116690  2017-12-15 06:00:00    南通           41671.4768
116704  2017-12-15 05:00:00    南通           21033.4325
116718  2017-12-15 00:00:00    南通           88199.6802
116732  2017-12-15 07:00:00    南通           76731.2702
116746  2017-12-15 01:00:00    南通           49875.7892
116760  2017-12-15 02:00:00    南通           30038.3693
116774  2017-12-15 08:00:00    南通          106598.3329

[8342 rows x 3 columns]
                       Date Place  DataflowByDay_4G_GB
2       2017-01-01 04:00:00    宿迁            6670.1416
16      2017-01-01 03:00:00    宿迁            8552.2310
30      2017-01-01 06:00:00    宿迁           13420.5294
44      2017-01-01 02:00:00    宿迁           11698.1737
58      2017-01-01 21:00:00    宿迁           43092.1832
72      2017-01-01 18:00:00    宿迁           41439.5642
86      2017-01-01 12:00:00    宿迁           41342.8923
100     2017-01-01 23:00:00    宿迁           32162.5542
114     2017-01-01 17:00:00    宿迁           38627.2343
128     2017-01-01 13:00:00    宿迁           40214.2359
142     2017-01-01 14:00:00    宿迁           39618.5131
156     2017-01-01 01:00:00    宿迁           17960.0079
170     2017-01-01 11:00:00    宿迁           40878.9519
184     2017-01-01 22:00:00    宿迁           38474.4032
198     2017-01-01 15:00:00    宿迁           39686.0739
212     2017-01-01 20:00:00    宿迁           46404.4388
226     2017-01-01 16:00:00    宿迁           39028.3369
240     2017-01-01 07:00:00    宿迁           24753.1810
254     2017-01-01 10:00:00    宿迁           38967.3512
268     2017-01-01 00:00:00    宿迁           28470.6970
282     2017-01-01 19:00:00    宿迁           44803.4645
296     2017-01-01 09:00:00    宿迁           34961.3680
310     2017-01-01 05:00:00    宿迁            7753.8852
324     2017-01-01 08:00:00    宿迁           30602.2600
338     2017-01-02 23:00:00    宿迁           33431.1363
352     2017-01-02 05:00:00    宿迁            6394.3428
366     2017-01-02 03:00:00    宿迁            6473.4441
380     2017-01-02 02:00:00    宿迁            9187.0445
394     2017-01-02 19:00:00    宿迁           40752.5436
408     2017-01-02 08:00:00    宿迁           25001.5259
...                     ...   ...                  ...
116359  2017-12-14 18:00:00    宿迁           80842.6438
116373  2017-12-14 12:00:00    宿迁           92311.5480
116387  2017-12-14 13:00:00    宿迁           77881.1143
116401  2017-12-14 02:00:00    宿迁           13579.8345
116415  2017-12-14 03:00:00    宿迁           10228.1070
116429  2017-12-14 08:00:00    宿迁           53848.8339
116443  2017-12-14 19:00:00    宿迁           86963.0751
116457  2017-12-14 21:00:00    宿迁           91606.9331
116471  2017-12-14 05:00:00    宿迁           12813.6403
116485  2017-12-14 00:00:00    宿迁           34752.0264
116499  2017-12-14 09:00:00    宿迁           65431.4856
116513  2017-12-14 20:00:00    宿迁           90042.6109
116527  2017-12-14 06:00:00    宿迁           23645.5257
116541  2017-12-14 14:00:00    宿迁           71901.1858
116555  2017-12-14 17:00:00    宿迁           79831.4150
116569  2017-12-14 11:00:00    宿迁           78962.0152
116583  2017-12-14 07:00:00    宿迁           42048.2900
116597  2017-12-14 15:00:00    宿迁           74622.8828
116611  2017-12-14 16:00:00    宿迁           79253.6026
116625  2017-12-14 04:00:00    宿迁            9447.1617
116639  2017-12-14 22:00:00    宿迁           81400.4576
116653  2017-12-15 03:00:00    宿迁           10617.3666
116667  2017-12-15 04:00:00    宿迁            9676.8215
116681  2017-12-15 06:00:00    宿迁           24344.6899
116695  2017-12-15 05:00:00    宿迁           12922.9657
116709  2017-12-15 00:00:00    宿迁           37104.8059
116723  2017-12-15 07:00:00    宿迁           42659.7285
116737  2017-12-15 01:00:00    宿迁           21001.3954
116751  2017-12-15 02:00:00    宿迁           13953.3422
116765  2017-12-15 08:00:00    宿迁           54106.9653

[8343 rows x 3 columns]
                       Date Place  DataflowByDay_4G_GB
10      2017-01-01 04:00:00    常州            8427.8479
24      2017-01-01 03:00:00    常州           10749.4337
38      2017-01-01 06:00:00    常州           14541.5631
52      2017-01-01 02:00:00    常州           16384.7230
66      2017-01-01 21:00:00    常州           57053.1119
80      2017-01-01 18:00:00    常州           59985.7004
94      2017-01-01 12:00:00    常州           60269.8061
108     2017-01-01 23:00:00    常州           48277.5369
122     2017-01-01 17:00:00    常州           57015.8091
136     2017-01-01 13:00:00    常州           58544.1641
150     2017-01-01 14:00:00    常州           57958.9190
164     2017-01-01 01:00:00    常州           27141.8433
178     2017-01-01 11:00:00    常州           60845.2976
192     2017-01-01 22:00:00    常州           54306.6151
206     2017-01-01 15:00:00    常州           57490.3737
220     2017-01-01 20:00:00    常州           59972.3720
234     2017-01-01 16:00:00    常州           56994.1532
248     2017-01-01 07:00:00    常州           28248.7111
262     2017-01-01 10:00:00    常州           57463.1515
276     2017-01-01 00:00:00    常州           45074.2131
290     2017-01-01 19:00:00    常州           61412.4247
304     2017-01-01 09:00:00    常州           51120.6231
318     2017-01-01 05:00:00    常州            8860.7436
332     2017-01-01 08:00:00    常州           41129.7880
346     2017-01-02 23:00:00    常州           34327.8111
360     2017-01-02 05:00:00    常州            5262.3572
374     2017-01-02 03:00:00    常州            8365.7065
388     2017-01-02 02:00:00    常州           12845.3308
402     2017-01-02 19:00:00    常州           41555.9929
416     2017-01-02 08:00:00    常州           24120.9306
...                     ...   ...                  ...
116367  2017-12-14 18:00:00    常州          156196.7916
116381  2017-12-14 12:00:00    常州          180085.8230
116395  2017-12-14 13:00:00    常州          140595.2252
116409  2017-12-14 02:00:00    常州           27885.5987
116423  2017-12-14 03:00:00    常州           19292.3256
116437  2017-12-14 08:00:00    常州          101743.0369
116451  2017-12-14 19:00:00    常州          157573.9796
116465  2017-12-14 21:00:00    常州          170529.9363
116479  2017-12-14 05:00:00    常州           18712.5375
116493  2017-12-14 00:00:00    常州           82846.7327
116507  2017-12-14 09:00:00    常州          119739.0514
116521  2017-12-14 20:00:00    常州          162733.3969
116535  2017-12-14 06:00:00    常州           35317.8450
116549  2017-12-14 14:00:00    常州          138245.4836
116563  2017-12-14 17:00:00    常州          157964.5194
116577  2017-12-14 11:00:00    常州          161240.8625
116591  2017-12-14 07:00:00    常州           73157.8390
116605  2017-12-14 15:00:00    常州          142805.1124
116619  2017-12-14 16:00:00    常州          150204.5160
116633  2017-12-14 04:00:00    常州           16074.2607
116647  2017-12-14 22:00:00    常州          167943.7276
116661  2017-12-15 03:00:00    常州           19807.4371
116675  2017-12-15 04:00:00    常州           16191.7544
116689  2017-12-15 06:00:00    常州           35209.1389
116703  2017-12-15 05:00:00    常州           18531.5413
116717  2017-12-15 00:00:00    常州           87071.2749
116731  2017-12-15 07:00:00    常州           73581.3806
116745  2017-12-15 01:00:00    常州           48175.3124
116759  2017-12-15 02:00:00    常州           28506.4510
116773  2017-12-15 08:00:00    常州          101385.0048

[8342 rows x 3 columns]
                       Date Place  DataflowByDay_4G_GB
9       2017-01-01 04:00:00    徐州            9705.6380
23      2017-01-01 03:00:00    徐州           12611.0542
37      2017-01-01 06:00:00    徐州           20267.8541
51      2017-01-01 02:00:00    徐州           19234.4097
65      2017-01-01 21:00:00    徐州           73511.5760
79      2017-01-01 18:00:00    徐州           69487.7026
93      2017-01-01 12:00:00    徐州           70635.8145
107     2017-01-01 23:00:00    徐州           64614.7607
121     2017-01-01 17:00:00    徐州           65211.2744
135     2017-01-01 13:00:00    徐州           66908.9586
149     2017-01-01 14:00:00    徐州           66239.7247
163     2017-01-01 01:00:00    徐州           31093.8569
177     2017-01-01 11:00:00    徐州           69940.1520
191     2017-01-01 22:00:00    徐州           66593.9581
205     2017-01-01 15:00:00    徐州           67240.4367
219     2017-01-01 20:00:00    徐州           77423.9884
233     2017-01-01 16:00:00    徐州           66763.9013
247     2017-01-01 07:00:00    徐州           37670.7375
261     2017-01-01 10:00:00    徐州           66381.6714
275     2017-01-01 00:00:00    徐州           52715.4055
289     2017-01-01 19:00:00    徐州           75808.3485
303     2017-01-01 09:00:00    徐州           58140.3617
317     2017-01-01 05:00:00    徐州           11412.0191
331     2017-01-01 08:00:00    徐州           49469.2150
345     2017-01-02 23:00:00    徐州           70801.1301
359     2017-01-02 05:00:00    徐州            9626.5629
373     2017-01-02 03:00:00    徐州            7777.0995
387     2017-01-02 02:00:00    徐州           16240.0305
401     2017-01-02 19:00:00    徐州           72079.5679
415     2017-01-02 08:00:00    徐州           41943.8350
...                     ...   ...                  ...
116366  2017-12-14 18:00:00    徐州          155098.9274
116380  2017-12-14 12:00:00    徐州          179077.1253
116394  2017-12-14 13:00:00    徐州          152040.3200
116408  2017-12-14 02:00:00    徐州           26019.8468
116422  2017-12-14 03:00:00    徐州           17240.1702
116436  2017-12-14 08:00:00    徐州          104364.0922
116450  2017-12-14 19:00:00    徐州          157472.1228
116464  2017-12-14 21:00:00    徐州          171252.8248
116478  2017-12-14 05:00:00    徐州           20958.0879
116492  2017-12-14 00:00:00    徐州           80811.5794
116506  2017-12-14 09:00:00    徐州          123996.5948
116520  2017-12-14 20:00:00    徐州          167171.2849
116534  2017-12-14 06:00:00    徐州           41601.0881
116548  2017-12-14 14:00:00    徐州          139036.9057
116562  2017-12-14 17:00:00    徐州          152724.0975
116576  2017-12-14 11:00:00    徐州          148373.3112
116590  2017-12-14 07:00:00    徐州           76226.6646
116604  2017-12-14 15:00:00    徐州          144518.0390
116618  2017-12-14 16:00:00    徐州          148711.5963
116632  2017-12-14 04:00:00    徐州           15175.1506
116646  2017-12-14 22:00:00    徐州          161662.2921
116660  2017-12-15 03:00:00    徐州           17754.0106
116674  2017-12-15 04:00:00    徐州           15185.7847
116688  2017-12-15 06:00:00    徐州           40460.2703
116702  2017-12-15 05:00:00    徐州           20309.3653
116716  2017-12-15 00:00:00    徐州           81814.5405
116730  2017-12-15 07:00:00    徐州           74456.6042
116744  2017-12-15 01:00:00    徐州           42303.5716
116758  2017-12-15 02:00:00    徐州           24549.6107
116772  2017-12-15 08:00:00    徐州          102939.1113

[8324 rows x 3 columns]
                       Date Place  DataflowByDay_4G_GB
8       2017-01-01 04:00:00    扬州            5189.4578
22      2017-01-01 03:00:00    扬州            6892.8120
36      2017-01-01 06:00:00    扬州            8672.4964
50      2017-01-01 02:00:00    扬州           10949.0468
64      2017-01-01 21:00:00    扬州           37504.8520
78      2017-01-01 18:00:00    扬州           36064.1212
92      2017-01-01 12:00:00    扬州           36103.0153
106     2017-01-01 23:00:00    扬州           33429.4039
120     2017-01-01 17:00:00    扬州           33640.5888
134     2017-01-01 13:00:00    扬州           34462.9875
148     2017-01-01 14:00:00    扬州           33639.9228
162     2017-01-01 01:00:00    扬州           18966.7503
176     2017-01-01 11:00:00    扬州           35763.1859
190     2017-01-01 22:00:00    扬州           34785.8992
204     2017-01-01 15:00:00    扬州           34223.9414
218     2017-01-01 20:00:00    扬州           38999.6068
232     2017-01-01 16:00:00    扬州           34423.1052
246     2017-01-01 07:00:00    扬州           17726.4663
260     2017-01-01 10:00:00    扬州           34923.9234
274     2017-01-01 00:00:00    扬州           29826.3514
288     2017-01-01 19:00:00    扬州           38647.1170
302     2017-01-01 09:00:00    扬州           31673.8728
316     2017-01-01 05:00:00    扬州            5596.1686
330     2017-01-01 08:00:00    扬州           24533.1383
344     2017-01-02 23:00:00    扬州           37006.5064
358     2017-01-02 05:00:00    扬州            4400.6353
372     2017-01-02 03:00:00    扬州            4792.1986
386     2017-01-02 02:00:00    扬州            9100.6371
400     2017-01-02 19:00:00    扬州           37849.4450
414     2017-01-02 08:00:00    扬州           20770.5189
...                     ...   ...                  ...
116365  2017-12-14 18:00:00    扬州           89208.6018
116379  2017-12-14 12:00:00    扬州          107969.6250
116393  2017-12-14 13:00:00    扬州           83785.0607
116407  2017-12-14 02:00:00    扬州           16860.0437
116421  2017-12-14 03:00:00    扬州           10094.8847
116435  2017-12-14 08:00:00    扬州           56394.0939
116449  2017-12-14 19:00:00    扬州           89450.0598
116463  2017-12-14 21:00:00    扬州           95526.3104
116477  2017-12-14 05:00:00    扬州            9433.8095
116491  2017-12-14 00:00:00    扬州           54559.3133
116505  2017-12-14 09:00:00    扬州           66943.7502
116519  2017-12-14 20:00:00    扬州           91895.3427

In [30]:
for i,j in list(df5):
    df6 = pd.DataFrame(list(df5)[x])
    df7 = df6.iloc[-1:,[0]]
    df6.append(df7)

            DataflowByDay_4G_GB
Date
2016-09-01          737681.5118
2016-09-02          623026.1233
2016-09-03          677643.8907
2016-09-04          642558.8912
2016-09-05          646934.4614
2016-09-06          791779.2778
2016-09-07          798616.3025
2016-09-08          771486.3673
2016-09-09          667871.6413
2016-09-10          604156.6283
2016-09-11          641038.8588
2016-09-12          774520.4409
2016-09-13          816266.7072
2016-09-14          771445.7021
2016-09-15          856275.7009
2016-09-16          799100.8010
2016-09-17          663541.9443
2016-09-18          652114.7929
2016-09-19          510366.5474
2016-09-20          650150.2457
2016-09-21          760794.5205
2016-09-22          680629.0611
2016-09-23          645887.2458
2016-09-25          661501.9398
2016-09-26          616587.7854
2016-09-27          604066.5064
2016-09-28          584249.6497
2016-09-29          957294.9470
2016-09-30         1086843.5480
2016-10-01          721348.5669
...                         ...
2017-08-22         1822100.3970
2017-08-23         1848218.4590
2017-08-24         2013859.7610
2017-08-25         2003540.5350
2017-08-26         1964373.3810
2017-08-27         1939944.0920
2017-08-28         1974071.2050
2017-08-29         1996314.7170
2017-08-30         2026344.9140
2017-08-31         2182764.9270
2017-09-01         1701858.7140
2017-09-02         1727100.9520
2017-09-03         1836951.4240
2017-09-04         1751580.1290
2017-09-05         1774083.1890
2017-09-06         1869101.2080
2017-09-07         1862328.3490
2017-09-08         1880894.3620
2017-09-09         1922738.5350
2017-09-10         1931566.8420
2017-09-11         1922029.5520
2017-09-12         1962857.1780
2017-09-13         1991202.4780
2017-09-14         2001913.7150
2017-09-15         2064968.8670
2017-09-16         2102227.7810
2017-09-17         2101468.3150
2017-09-18         1998674.0660
2017-09-19         2152498.6940
2017-09-20         2301004.9220

[381 rows x 1 columns]

In [110]:
# type(list(df5)[0][1])

pandas.core.frame.DataFrame

In [241]:
df6 = pd.DataFrame(list(df5)[0][1])
df7 = df6.iloc[-1:,[0]]
df6.append(df7)

            DataflowByDay_4G_GB
Date
2016-09-01          737681.5118
2016-09-02          623026.1233
2016-09-03          677643.8907
2016-09-04          642558.8912
2016-09-05          646934.4614
2016-09-06          791779.2778
2016-09-07          798616.3025
2016-09-08          771486.3673
2016-09-09          667871.6413
2016-09-10          604156.6283
2016-09-11          641038.8588
2016-09-12          774520.4409
2016-09-13          816266.7072
2016-09-14          771445.7021
2016-09-15          856275.7009
2016-09-16          799100.8010
2016-09-17          663541.9443
2016-09-18          652114.7929
2016-09-19          510366.5474
2016-09-20          650150.2457
2016-09-21          760794.5205
2016-09-22          680629.0611
2016-09-23          645887.2458
2016-09-25          661501.9398
2016-09-26          616587.7854
2016-09-27          604066.5064
2016-09-28          584249.6497
2016-09-29          957294.9470
2016-09-30         1086843.5480
2016-09-30         1086843.5480

            DataflowByDay_4G_GB
Date
2016-09-01          737681.5118
2016-09-02          623026.1233
2016-09-03          677643.8907
2016-09-04          642558.8912
2016-09-05          646934.4614
2016-09-06          791779.2778
2016-09-07          798616.3025
2016-09-08          771486.3673
2016-09-09          667871.6413
2016-09-10          604156.6283
2016-09-11          641038.8588
2016-09-12          774520.4409
2016-09-13          816266.7072
2016-09-14          771445.7021
2016-09-15          856275.7009
2016-09-16          799100.8010
2016-09-17          663541.9443
2016-09-18          652114.7929
2016-09-19          510366.5474
2016-09-20          650150.2457
2016-09-21          760794.5205
2016-09-22          680629.0611
2016-09-23          645887.2458
2016-09-25          661501.9398
2016-09-26          616587.7854
2016-09-27          604066.5064
2016-09-28          584249.6497
2016-09-29          957294.9470
2016-09-30         1086843.5480
2016-09-30         1086843.5480

In [219]:
df0=df6['2016-09-30':]
# df0 = pd.DataFrame(df0)
# df1=df0.index.rename('2016-09-31')
df0.index = ['2016-09-31 00:00:00']
df0.values

array([[ 1086843.548]])

In [222]:
df6.loc[]

                     DataflowByDay_4G_GB
2016-09-01 00:00:00          737681.5118
2016-09-02 00:00:00          623026.1233
2016-09-03 00:00:00          677643.8907
2016-09-04 00:00:00          642558.8912
2016-09-05 00:00:00          646934.4614
2016-09-06 00:00:00          791779.2778
2016-09-07 00:00:00          798616.3025
2016-09-08 00:00:00          771486.3673
2016-09-09 00:00:00          667871.6413
2016-09-10 00:00:00          604156.6283
2016-09-11 00:00:00          641038.8588
2016-09-12 00:00:00          774520.4409
2016-09-13 00:00:00          816266.7072
2016-09-14 00:00:00          771445.7021
2016-09-15 00:00:00          856275.7009
2016-09-16 00:00:00          799100.8010
2016-09-17 00:00:00          663541.9443
2016-09-18 00:00:00          652114.7929
2016-09-19 00:00:00          510366.5474
2016-09-20 00:00:00          650150.2457
2016-09-21 00:00:00          760794.5205
2016-09-22 00:00:00          680629.0611
2016-09-23 00:00:00          645887.2458
2016-09-25 00:00:00          661501.9398
2016-09-26 00:00:00          616587.7854
2016-09-27 00:00:00          604066.5064
2016-09-28 00:00:00          584249.6497
2016-09-29 00:00:00          957294.9470
2016-09-30 00:00:00         1086843.5480
2016-09-31 00:00:00         1086843.5480

In [212]:
# df8=pd.concat([df6,df0],ignore_index=True)